.div-return-arrow {
    position: absolute;
    margin-top: -65px;
    margin-left: -450px;
}

.fa-arrow-left {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.general-div-fgpass {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: -8vh;
    font-family: 'Arial', sans-serif;
    width: 510px;
    height: 210px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.title {
    font-size: 30px;
    color: white;
}

/*Inputs*/
.div-inputs-fgpass {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
}

.div-inputs-fgpass input {
    width: 220px;
    height: 25px;
    outline: none;
    border: none;
    background-color: #6D85AF;
    color: white;
}

.div-inputs-fgpass input::placeholder {
    color: white;
    font-size: 15px;
}
/*Fim Inputs*/

.div-button-fgpass {
    margin-top: 65px;
}

.button-fgpass {
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: white;
}

.button-fgpass:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}