body {
    background: linear-gradient(135deg, #e0aaff, #5078f2);
    min-height: 79vh; /* Ocupa toda a tela */
}

.general-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 20vh;
    font-family: 'Arial', sans-serif;
    width: 510px;
    height: 410px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.entrar {
    font-size: 30px;
    color: white;
}

/*Inputs Section*/
.input-divs {
    margin-bottom: 100px;
    margin-top: 60px;
    margin-left: 13%;
}

.input-email, 
.input-password {
    width: 287px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #6D85AF;
    margin-bottom: 13px;
    font-size: 20px;
    color: white;
}

.input-email::placeholder, 
.input-password::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 20px;
}

/*Icons*/
.span-icon-user, 
.span-icon-password {
    position: absolute;
    margin-left: -35px;
    height: 42px;
    width: 35px;
    background-color: #02254f;
}

.fa-user,
.fa-lock {
    color: white;
    margin-top: 12px;
    margin-left: 10px;
}

.fa-eye {
    position: absolute;
    color: white;
    margin-left: -24px;
    margin-top: 12px;
    cursor: pointer;
}

.fa-eye-slash {
    position: absolute;
    color: white;
    margin-left: -32px;
    margin-top: 12px;
    cursor: pointer;
}
/*Fim Icons*/

.forgot-password {
    margin-left: 16px;
    margin-bottom: 90px;
}

.forgot-password:hover {
    color: black;
}

/*Fim Inputs Section*/

.login-button,
.signup-button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-button:hover, .signup-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.extra-buttons {
    display: flex;
    gap: 180px;
    margin-top: 40px;
}